
*{
    font-size: 18px;
    

}
a{
    text-decoration: none;
    color: #000;
}
#logo{
    width:110px;
    border: dashed #111 ;
    border-radius: 10px;
}

body{
    margin: 0px;
    width: 100%;
}

header,
#navBar{
    display: flex;

}
header{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: aliceblue;
    transition: top 0.3s ease;


    border:solid 1px  #000;
    width: 100%;
    
    flex-direction: row;
    align-items: center;
    padding: 10px 5%;
}
li{
    list-style: none;
    margin: 25px 20px;
    /*background-color: #b4bec2;*/
    
}
.nav{
    width: 80%;
    
    display: flex;
    justify-content: flex-end;
}
.navBarItem{
   
    padding: 5px 20px;
    border-radius: 13px;
    border: solid 2px #7a240f;
}
img{
    
    border: solid #111 ;
    border-radius: 10px;
    
}

#banner{
    background-image: url('/Pagina-web-Drag-o/Assets/Images/novofundo.png');
    border: solid 0.2px #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: 120px;

}
#banner h1{
    margin-top: 0;
    margin-bottom: 0;
    
}


#banner h1,
#banner h1 span{
    font-size: 2.3rem;
}
#banner h1 span{
    display: block;
}
#banner-text p{
    color: #000000;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    
}
main{
    background-color: aliceblue;
}


#banner-text{
    margin-left: 8%;
    /*border: solid #000;*/
    width: 20%;
    background-color: rgba(156, 224, 231, 0.445);
    padding: 30px;
    border-radius: 30px;
    
}   

.botao {
    background-color: #7bd8ecb6;
    padding: 10px 10px;
    color: #000000ce;
    border-radius: 10px;
    font-weight: bold;
    
}




#MenuDiv1{

    margin-top: 80px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    
}
#MenuDiv p{
    margin-top: 0;
    font-size: 1.2rem;
}

#MenuDiv h1{
    font-size: 2rem;
}

#MenuDentroDiv1{
    display: flex;
    overflow: hidden;
    gap: 20px;
    scroll-behavior: smooth;
    width: 100%;
    margin: 0 auto;
}

.carousel-buttons{
    margin: 20px 0px;
    text-align: center;
}
.carousel-buttons button{
    background-color: #531505;
    color: #f2eeee;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid black;

    border-radius: 10px ;
}
.MenuDentroDivCards1{
    flex: 0 0 580px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    scroll-snap-align: start;
    text-align: center;

    
}


#menuDentroDiv p{
    font-weight: bold;
    
}


.imgMenuDiv{
    border: solid #111 ;
    border-radius: 10px;
    
}

.container-cards{
    
    text-align: center;
    width: 100%;
}
.section-title{
    font-size: 1.3rem;
    margin-top: 0.5px;
}

#card-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#card-div p{
    font-size: 1rem;
}
#card-div img{
    width: 40%;
}
#cards-text{
    width: 45%;
    text-align: left;
    background-color: rgba(87, 172, 221, 0.2);
    padding: 30px 50px;
    padding-bottom: 60px;
    border-radius: 10px;

}

#cards-text p{
    font-size: 1.2rem;
}
#cards-text h1{
    font-size: 2rem;

}
.container-cards{
    margin-top: 30px;
}

#cards-text h1{
    color: #000;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.section-title{
    font-size: 2.3rem;
    font-weight: bold;
}
.article-main{
    
    display: flex;
    justify-content: space-around;
    
    padding:0 5%;
    margin: 40px;
}

.article-box{
    width: 25%;
    text-align: left;
    
    border: solid 1px #000;
    border-radius: 10px;
    padding: 30px;

}
.article-box p{
    font-size: 1.2rem;
}
.article-box h1{
    display: inline-block;

}
.icons{
    font-size: 1.8rem;
}

.section-apresentacao{
    width: auto;
    border: solid #000;
    text-align: center;
    background-color: #7e0707d0;
    margin-bottom: 40px;
}
.section-apresentacao h1,
.section-apresentacao p{ 
    color:#f2eeee;
}
.section-apresentacao p{
    margin-top: 0px;
    margin-bottom: 40px;;
    font-size: 1.2rem;
}
.section-apresentacao h1{
    margin-bottom: 13px;
    font-size: 3rem;
}
.apresentacao-box{
    width: 40%;
}
.apresentacao-box img{
    width: 60%;
}

.apresentacao-box p {
    font-size:1.2rem ;
    color: #f2eeee;
}
.apresentacao-box h1{
    font-size: 2rem;
    color:#f2eeee;
}

.apresentacao-div{
    margin: 0 auto;
    width: auto;
    
    display: flex;
    justify-content: space-around;
    
    text-align: center;
}
footer{
    display: flex;
    
    justify-content: space-around;
    padding: 20px 7%;
}
footer icon{
    font-size: 19px;
}

.div-footer{
    width: 30%;
}
#contacts li{
    background-color: #5d0404d9;
    
}
#contacts ul li{
    padding: 3px;
}
#contacts a{
    color: #f2eeee;
    font-size: 1.2rem;
}

.footer a{
    font-size: 1.2rem;


}
.div-footer p{
    font-size: 1.2rem;
}

.div-footer h1{
    margin-top: 0;
    border-bottom:solid 3px #7a240f;
}

.div-footer ul li{
    margin-top: 0;
    padding: 3px;
}
.div-footer ul{
    padding: 0;
}
.icon-footer{
    font-size: 3rem;
}


#container-cards1 {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .card1 {
    flex: 0 0 580px;
    scroll-snap-align: start;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
.menu-btn{
    display: none;
    background: none;
    border:none;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}







@media only screen and (max-width:992px){
    .menu-btn{
        display: block;
        position: absolute;
        top: 20px;
        left: 200px;
        z-index: 1100;
    }
    nav{
        position: fixed;
        top: 0;
        left: -450px;
        width: 250px;
        background-color: aliceblue;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        padding: 60px;
        transition: left 0.3s ease;
    }
    nav.active{
        left: 0;
    }
    #navBar{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 10px;
    }
    .navBarItem{
        padding: 15px 20px;
        display: block;
        color: #333;
    }
    #banner-text{
        width: 70%;
    }

    .article-main{
        padding: 5px;
        gap: 10px;
    }
    .container-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .article-main{
        display: flex;
        flex-direction: column;
    }
    .article-box{
        width: 90%;
    }
    #card-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    #cards-text{
        width: 100%;
    }
    #card-div img{
        margin: 15px;
        width: 75%;
    }

}


@media only screen and (max-width:600px){
    #banner-text{
        width: 90%;
        margin:8%;
    }
    .article-main{
        padding: 5px;
        gap: 10px;
    }
}
